/* второстепенный цвет текста #757575; */
/* основной цвет текста  #212121;*/
/*цвет акцента внимания #2196F3  */
/* footer background: #2F303A; */

.body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* Header */

.navigate-list,
.navigate-list-contacts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigate-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  color: #212121;
}
.logo-color {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  color: #2196f3;
}

.navigate-studio,
.navigate-portfolio,
.navigate-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #212121;
}
.navigate-studio:hover,
.navigate-studio:focus {
  color: #2196f3;
}
.navigate-portfolio:hover,
.navigate-portfolio:focus {
  color: #2196f3;
}
.navigate-contacts:hover,
.navigate-contacts:focus {
  color: #2196f3;
}
.navigate-mail,
.navigate-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #757575;
}
.navigate-mail:hover,
.navigate-mail:focus {
  color: #2196f3;
}
.navigate-phone:hover,
.navigate-phone:focus {
  color: #2196f3;
}

/* Section Hero */

.hero {
  text-align: center;
}
.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 116%;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30;
}
.hero-button {
  background-color: #2196f3;
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-block;
  min-width: 200px;
  text-align: center;
}
.hero-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}

/* Section Advantages */

.title-advantages-list {
  margin-top: 0;
  list-style-type: none;
}

.title-advantages {
  margin-top: 0;
}
.title-advantages-subject {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #212121;
}
.title-advantages-text {
  margin-top: 0;
  margin-bottom: 94px;
  font-weight: 400;
  font-size: 14px;
  line-height: 146%;
  color: #757575;
}

/* Section Samples,Team */

.samples-list,
.team-list {
  list-style-type: none;
}

.title-samples,
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}
.title-team-subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}
.title-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #757575;
  margin-top: 0px;
  margin-bottom: 30px;
}

/* Footer */
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  color: #212121;
  margin-top: 60px;
  margin-bottom: 20px;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.footer-mail,
.footer-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 146%;
  color: #757575;
}
.footer-mail:hover,
.footer-mail:focus {
  color: #2196f3;
}
.footer-adress:hover,
.footer-adress:focus {
  color: #2196f3;
}
.footer-phone:hover,
.footer-phone:focus {
  color: #2196f3;
}
.footer {
  background-color: #2f303a;
}

/* Portfolio page */
/* Buttons */
.button-list-item {
  background-color: #f5f4fa;
  cursor: pointer;
}
.button-list-item:hover,
.button-list-item:focus {
  background-color: #2196f3;
}
.button-list-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 139%;
  color: #212121;
  display: inline-block;
  min-width: 73px;
  text-align: center;
}
.button-list-item-text:hover,
.button-list-item-text:focus {
  color: #ffffff;
}
.button-list,
.portfolio-title-samples {
  list-style-type: none;
}

/* Section of projects */

.title-portfolio-projects {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-title-samples-subject {
  font-weight: 700;
  font-size: 18px;
  line-height: 171%;
  color: #212121;
  margin-top: 20px;
  margin-bottom: 4px;
}
.portfolio-title-samples-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #757575;
  margin-top: 0;
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;
}
.container-header {
  outline: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
