/* второстепенный цвет текста #757575; */
/* основной цвет текста  #212121;*/
/*цвет акцента внимания #2196F3  */
/* footer background: #2F303A; */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-primary-color: #f5f4fa;
}

.body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* Header */

.navigate-list {
  list-style-type: none;
}
.navigate-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.192;
  color: var(--title-text-color);
  text-decoration: none;
}
.navigate-logo-color {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.192;
  color: var(--accent-color);
  text-decoration: none;
}

.navigate-studio,
.navigate-portfolio,
.navigate-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigate-studio:hover,
.navigate-studio:focus {
  color: var(--accent-color);
}
.navigate-portfolio:hover,
.navigate-portfolio:focus {
  color: var(--accent-color);
}
.navigate-contacts:hover,
.navigate-contacts:focus {
  color: var(--accent-color);
}
.navigate-mail,
.navigate-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigate-mail:hover,
.navigate-mail:focus {
  color: var(--accent-color);
}
.navigate-phone:hover,
.navigate-phone:focus {
  color: var(--accent-color);
}

/* Section Hero */

.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--title-text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.hero-button {
  background-color: var(--button-primary-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* Section Advantages */

.advantages-list {
  list-style-type: none;
}

.title-advantages {
  display: none;
}
.title-advantages-subject {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color) 1;
}
.title-advantages-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* Section Samples,Team */

.samples-list,
.team-list {
  list-style-type: none;
}

.title-samples,
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666;
  color: var(--title-text-color);
}
.title-team-subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--title-text-color);
}
.title-team-text {
  font-size: 16px;
  line-height: 1.1875;
  color: var(--primary-text-color);
}

/* Footer */

.footer-adress {
  font-size: 14px;
  line-height: 1.1875;
  color: #ffffff;
  text-decoration: none;
}
.footer-mail,
.footer-phone {
  font-size: 14px;
  line-height: 1.1875;
  color: var(--primary-text-color);
  text-decoration: none;
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}
.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}
.footer {
  background-color: #2f303a;
}
.footer-logo-color {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.192;
  color: #ffffff;
  text-decoration: none;
}
/* Portfolio page */
/* Buttons */

.button-list-item {
  background-color: var(--button-primary-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.368;
  color: var(--title-text-color);
  display: inline-block;
}
.button-list-item:hover,
.button-list-item:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.projects-section-button-list,
.projects-section-title-samples {
  list-style-type: none;
}

/* Section of projects */

.portfolio-title-samples-subject {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}
.portfolio-title-samples-text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 20px;
}
/* homewokr 3 */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;
}
.hero-section,
.advantages-section,
.samples-section,
.team-section,
.projects-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.link-border {
  border: solid #eeeeee;
  width: 369px;
}
